<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ぐーぐるさんだよ</title>
        <link rel="stylesheet" type="text/css" href="/css/base0.css">
    </head>
    <body>
        <h1>ぐーぐるさんだよ</h1>

        <H2>500 UNKOWN ERROR</H2>
        <H2>不明なエラーです。<%- path %></H2>
        
        <%- include("../menu.ejs", {pages: pages}) %>
    </body>
</html>
